<?xml version="1.0"?>
<launch>
    <!-- Global parameters -->
    <param name = "number_puck_types" value="2"/>
    <param name = "obstacle_signature_start" value="3"/>
    <param name = "obstacle_signature_stop" value="4"/>

    <!-- 2 times puck diameter (6.3cm) -->
    <param name = "cluster_distance_threshold" value="0.126"/>

    <!-- The following loads parameters which may need to be customized for
         each robot.  Hence, they are placed in an external file:
         /home/pi/robot_params.yaml -->
    <rosparam command="load" file="/home/pi/robot_params.yaml" />

	<node name="pixy_node" pkg="pixy_node" type="pixy_node" output="screen">
		<param name="use_servos" value="false" />
		<param name="rate" value="10.0" />
	</node>

    <node pkg="blocks_to_pucks_obstacles" type="blocks_to_pucks_obstacles.py" name="blocks_to_pucks_obstacles" output="screen">
        <param name = "duplicate_puck_threshold" value="0.02"/>
    </node>

    <node pkg="pucks_to_clusters" type="pucks_to_clusters.py" name="pucks_to_clusters" output="screen"/>

    <!-- John's combined scale-space-homing + Daniel's ray-casting obstacles-->
    <node pkg="scale_space_homing_service" type="bubblescope_analysis.py" name="bubblescope_analysis" args="-d" output="screen"/>

</launch>
