<?xml version="1.0"?>
<launch>
    <include file="$(find bupimo_launch)/launch/_params.launch"/>

    <include file="$(find bupimo_launch)/launch/_picamera_ops.launch"/>

    <include file="$(find bupimo_launch)/launch/_zumo.launch"/>

    <node pkg="test_behaviours" type="avoid_hits.py" name="avoid_hits" output="screen"/>

</launch>
