<?xml version="1.0"?>
<launch>
    <include file="$(find bupimo_launch)/launch/_params.launch"/>

    <include file="$(find bupimo_launch)/launch/_pixy_related.launch"/>

    <include file="$(find bupimo_launch)/launch/_picamera_ops.launch"/>

    <include file="$(find bupimo_launch)/launch/_zumo.launch"/>


    <node pkg="sorting_algs" type="cache_cons.py" name="cache_cons" output="screen"/>
</launch>
