<?xml version="1.0"?>
<launch>
    <include file="$(find bupimo_launch)/launch/_params.launch"/>

    <include file="$(find bupimo_launch)/launch/_pixy_related.launch"/>

    <include file="$(find bupimo_launch)/launch/_zumo.launch"/>

    <node pkg="test_behaviours" type="pickup_test.py" name="pickup_test" output="screen"/>
</launch>
